*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg,#667eea,#764ba2);
}

.todo-container{
  width:360px;
  padding:25px;
  border-radius:20px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  color:#fff;
}

.todo-container h2{
  text-align:center;
  margin-bottom:15px;
}

.input-box{
  display:flex;
  gap:10px;
}

.input-box input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:10px;
  outline:none;
}

.input-box button{
  width:40px;
  border:none;
  border-radius:50%;
  font-size:22px;
  background:#00e0ff;
  cursor:pointer;
}

.stats{
  display:flex;
  justify-content:space-between;
  margin:15px 0;
  font-size:13px;
}

ul{
  list-style:none;
}

li{
  background: rgba(255,255,255,0.25);
  padding:10px;
  border-radius:10px;
  margin-bottom:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

li.completed{
  text-decoration:line-through;
  opacity:0.6;
}

.actions button{
  border:none;
  background:transparent;
  color:#fff;
  cursor:pointer;
  margin-left:6px;
}

.clear-btn{
  width:100%;
  margin-top:10px;
  padding:8px;
  border:none;
  border-radius:10px;
  background: crimson;
  color:#fff;
  cursor:pointer;
}

